
@{
	ViewBag.Title = "InsertNews";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="right__content">
	<div class="right__title">Bảng điều khiển</div>
	<p class="right__desc">Thêm thông báo</p>
	<div class="">
		<form action="/admin/news/insertnews" method="post">
			<div class="right__inputWrapper">
				<label for="title">Tiêu đề</label>
				<input name="title" type="text" placeholder="Tiêu đề" required>
			</div>
			<div class="right__inputWrapper">
				<label for="title">Ngày đăng</label>
				<input name="date_post" type="date" placeholder="" required>
			</div>
			<div class="right__inputWrapper">
				<label for="desc">Nội dung</label>
				<textarea name="content" id="content" cols="30" rows="10"></textarea>
			</div>
			<button class="btn" type="submit">Thêm</button>
		</form>
	</div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
<script>
	ClassicEditor
		.create(document.querySelector('#content'));
</script>

