<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Natrural Medicine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Bootstrap styles -->
	<link href="/Content/assets/css/bootstrap.css" rel="stylesheet" />
	<!-- Customize styles -->
	<link href="/Content/assets/style.css" rel="stylesheet" />
	<!-- font awesome styles -->
	<link href="/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/Content/assets/ico/favicon.ico">
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/notify.min.js"></script>
	<script src="~/Scripts/notify-metro.js"></script>
</head>
<body>
	<!--
		Upper Header Section
	-->

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="topNav">
			<div class="container">
				<div class="alignR">
					<div class="pull-left socialNw">
						<a href="https://twitter.com/?lang=vi" target="_blank"><span class="icon-twitter"></span></a>
						<a href="https://www.facebook.com/"><span class="icon-facebook" target="_blank"></span></a>
						<a href="https://www.youtube.com/?gl=VN"><span class="icon-youtube" target="_blank"></span></a>
						<a href="https://www.tumblr.com/"><span class="icon-tumblr" target="_blank"></span></a>
					</div>
					<a class="active" href="/home/index"> <span class="icon-home"></span> Trang chủ</a>
					@{ natural_medicine.Models.user auth = (natural_medicine.Models.user)Session["loginClient"];
						if (auth != null)
						{
							<a href="/Account/myaccount"><span class="icon-user"></span> Tài khoản</a>
						}
					}
					<a href="/account/regiter"><span class="icon-edit"></span> Đăng ký </a>
					<a href="/home/contact"><span class="icon-envelope"></span> Liên hệ</a>
					<a href="/account/logout"><span class="icon-off"></span> Đăng xuất</a>
					<a href="/cart/mycart"><span class="icon-shopping-cart"></span> Giỏ hàng <span class="badge badge-warning"></span></a>
				</div>
			</div>
		</div>
	</div>

	<!--
	Lower Header Section
	-->
	<div class="container">
		<div id="gototop"> </div>
		<header id="header">
			<div class="row">
				<div class="span4">
					<h1>
						<a class="logo" href="index.html">
							<span>Logo</span>
							<img src="/Content/assets/img/logo.png" alt="Natrural Medicine">
						</a>
					</h1>
				</div>
				<div class="span4">
				</div>
				<div class="span4 alignR">
					<p id="notifyshow"><br> <strong> Hỗ trợ (24/7) :  0800 1234 678 </strong><br><br></p>
					<span class="btn btn-mini">[0] <span class="icon-shopping-cart"></span></span>
					<span class="btn btn-warning btn-mini">VNĐ</span>
					<span class="btn btn-mini">&pound;</span>
					<span class="btn btn-mini">&euro;</span>
				</div>
			</div>
		</header>

		<!--
		Navigation Bar Section
		-->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active"><a href="/Home/Index">Trang chủ	</a></li>
							<li class=""><a href="/home/test">Danh mục thuốc</a></li>
							<li class=""><a href="/cart/mycart">Giỏ hàng</a></li>
							<li class=""><a href="/Donhang/donhang">Theo dõi đơn hàng</a></li>

						</ul>
						<form action="/Home/Search" class="navbar-search pull-left" method="post">
							<input type="text" name="search" placeholder="Tìm kiếm..." class="search-query span2">
							<input type="submit" value="Tìm kiếm" class="exclusive shopBtn">
						</form>
						@{
							if (auth == null)
							{
								<ul class="nav pull-right">
									<li class="dropdown">
										<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Đăng nhập <b class="caret"></b></a>
										<div class="dropdown-menu">
											<form method="post" action="/Account/Login" class="form-horizontal loginFrm">
												<div class="control-group">
													<input type="text" name="phone" maxlength="10" class="span2" id="inputEmail" placeholder="Số điện thoại">
												</div>
												<div class="control-group">
													<input type="password" name="password" class="span2" id="inputPassword" placeholder="Mật khẩu">
												</div>
												<div class="control-group">
													<label class="checkbox">
														<input type="checkbox"> Nhớ mật khẩu
													</label>
													<button type="submit" class="shopBtn btn-block">Đăng nhập</button>
												</div>
											</form>
										</div>
									</li>
								</ul>
							}
							else
							{
								<ul class="nav pull-right">
									<li class="dropdown">
										<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class=""></span> @auth.name <b class="caret"></b></a>
										<div class="dropdown-menu">
											<a href="/Account/Logout"> <button class="shopBtn btn-block">Đăng xuất</button></a>
										</div>
									</li>
								</ul>
							}

						}
						@*<ul class="nav pull-right">
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Đăng nhập <b class="caret"></b></a>
								<div class="dropdown-menu">
									<form method="post" action="/Account/Login" class="form-horizontal loginFrm">
										<div class="control-group">
											<input type="text" name="phone" maxlength="10" class="span2" id="inputEmail" required="required" placeholder="Số điện thoại">
										</div>
										<div class="control-group">
											<input type="password" name="password" class="span2" id="inputPassword" required="required" placeholder="Mật khẩu">
										</div>
										<div class="control-group">
											<label class="checkbox">
												<input type="checkbox"> Nhớ mật khẩu
											</label>
											<button type="submit" class="shopBtn btn-block">Đăng nhập</button>
										</div>
									</form>
								</div>
							</li>
						</ul>*@
					</div>
				</div>
			</div>
		</div>
		<!--
		Body Section
		-->
		@RenderBody()
		<!--
		Footer
		-->
		<footer class="footer">
		</footer>
	</div><!-- /container -->
	<button onclick="topFunction()" id="myBtn" class="gotop" title="Go to top">
		<i class="icon-double-angle-up"></i>
	</button>
	<script src="/Content/assets/js/jquery.js"></script>
	<script src="/Content/assets/js/bootstrap.min.js"></script>
	<script src="/Content/assets/js/jquery.easing-1.3.min.js"></script>
	<script src="/Content/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="/Content/assets/js/shop.js"></script>
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script>
		var mybutton = document.getElementById("myBtn");
		window.onscroll = function () { scrollFunction() };

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
		}
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}

	</script>
</body>
</html>