@{
	Layout = null;
}
@using natural_medicine.Models
@model IEnumerable<category>

<div id="sidebar" class="span3">
	<div class="well well-small">
		<ul class="nav nav-list">

			@foreach (category it in Model)
			{
				<li><a href="/home/category/@it.id"><span class="icon-chevron-right"></span>@it.name</a></li>
			}

		</ul>
	</div>

	<div class="well well-small alert alert-warning cntr">
		<h2>Giảm giá 50%</h2>
		<p>
			áp dụng cho hóa đơn thanh toán qua MOMO <br><br><a class="defaultBtn" href="#">Nhấn xem </a>
		</p>
	</div>
	<div class="well well-small"><a href="#"><img src="/Content/assets/img/paypal.jpg" alt="payment method paypal"></a></div>

	<a class="shopBtn btn-block" href="#">Sắp ra mắt <br><small>Nhấn để xem</small></a>
	<br>
	<br>

</div>


