
@{
	ViewBag.Title = "NewsDetail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using natural_medicine.Models;
@model news
<div class="row" style="height: 100vh;">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="/home/index">Trang chủ</a> <span class="divider">/</span></li>
			<li><a href="/home/news">Tin tức</a> <span class="divider">/</span></li>
			<li class="active">@Model.title</li>
		</ul>
		<div class="well well-small">
			<div class="row-fluid">
				<h4 style="text-align:center; text-transform: uppercase;"><strong>@Model.title</strong></h4>
				<h6 style="text-align:right; padding-right:5%;"><i>@Model.date_post</i></h6>
				<div>
					@Html.Raw(Model.content)
				</div>
			</div>
			<hr class="soften">

		</div>
	</div>
</div>


