
@{
	
	Layout = null;
}

<html>
<head>

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	@*<div class="message"></div>

		<button class="add-cart">Click me</button>
		<script type="text/javascript">
			$(document).ready(function () {
				$(".message").hide();
				$(".add-cart").click(function () {
					$.notify("Your class starts in 15min", {
						className: 'success',
						globalPosition: 'top center'
					});
				});
			});
		</script>*@
	<div class="container">
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Hệ thống thông báo</h4>
					</div>

					<div class="modal-body">
						<p>Thêm sản phẩm thành công.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>
