<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin - Natural Medicine</title>
	<link href="~/Content/admin/css/main.css" rel="stylesheet" />
	<link href="~/Content/PagedList.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="dashboard">
				<div class="left">
					<span class="left__icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
					<div class="left__content">
						<div class="left__logo">$ NATURAL MEDICINE $</div>
						<div class="left__profile">
							<div class="left__image"><img src="~/Content/admin/assets/profile.jpg" alt=""></div>
							@{ natural_medicine.Models.user auth = (natural_medicine.Models.user)Session["loginAdmin"];
								if (auth != null)
								{
									<p class="left__name">@auth.name</p>
								}
							}
						</div>
						<ul class="left__menu">
							<li class="left__menuItem">
								<a href="/admin/admin/index" class="left__title"><img src="~/Content/admin/assets/icon-dashboard.svg" alt="">Trang chủ</a>
							</li>
							<li class="left__menuItem">
								<div class="left__title"><img src="~/Content/admin/assets/icon-tag.svg" alt="">Sản Phẩm<img class="left__iconDown" src="~/Content/admin/assets/arrow-down.svg" alt=""></div>
								<div class="left__text">
									<a class="left__link" href="/admin/product/insertproduct">Thêm Sản Phẩm</a>
									<a class="left__link" href="/admin/product/viewproduct">Xem Sản Phẩm</a>
								</div>
							</li>
							<li class="left__menuItem">
								<div class="left__title"><img src="~/Content/admin/assets/icon-pencil.svg" alt="">Thể Loại<img class="left__iconDown" src="~/Content/admin/assets/arrow-down.svg" alt=""></div>
								<div class="left__text">
									<a class="left__link" href="/admin/category/insertcategory">Thêm Thể Loại</a>
									<a class="left__link" href="/admin/category/viewcategory">Xem Thể loại</a>
								</div>
							</li>
							<li class="left__menuItem">
								<div class="left__title"><img src="~/Content/admin/assets/icon-edit.svg" alt="">Nhà Cung Cấp<img class="left__iconDown" src="~/Content/admin/assets/arrow-down.svg" alt=""></div>
								<div class="left__text">
									<a class="left__link" href="/admin/publishers/insertpublisher">Thêm NCC</a>
									<a class="left__link" href="/admin/publishers/viewpublisher">Xem NCC</a>
								</div>
							</li>
							<li class="left__menuItem">
								<a href="/admin/orders/vieworder" class="left__title"><img src="~/Content/admin/assets/icon-book.svg" alt="">Đơn Đặt Hàng</a>
							</li>
							<li class="left__menuItem">
								<div class="left__title"><img src="~/Content/admin/assets/icon-settings.svg" alt="">CT Giảm Giá<img class="left__iconDown" src="~/Content/admin/assets/arrow-down.svg" alt=""></div>
								<div class="left__text">
									<a class="left__link" href="/admin/discount/insertdiscount">Thêm Mã Ưu Đãi</a>
									<a class="left__link" href="/admin/discount/viewdiscount">Xem Danh Sách</a>
								</div>
							</li>
							<li class="left__menuItem">
								<a href="/admin/admin/viewcustomer" class="left__title"><img src="~/Content/admin/assets/icon-users.svg" alt="">Khách Hàng</a>
							</li>
							<li class="left__menuItem">
								<a href="/admin/product/viewimportproduct" class="left__title"><img src="~/Content/admin/assets/icon-book.svg" alt="">Phiếu Nhập Kho</a>
							</li>
							<li class="left__menuItem">
								<div class="left__title"><img src="~/Content/admin/assets/icon-book.svg" alt="">Thống kê<img class="left__iconDown" src="~/Content/admin/assets/arrow-down.svg" alt=""></div>
								<div class="left__text">
									<a class="left__link" href="/admin/category/insertcategory">Nhập Kho</a>
									<a class="left__link" href="/admin/category/viewcategory">Xuất kho</a>
									<a class="left__link" href="/admin/category/viewcategory">Doanh Thu</a>
								</div>
							</li>
							@if (auth != null)
							{
								if (auth.user_type == 3)
								{
									<li class="left__menuItem">
										<div class="left__title"><img src="~/Content/admin/assets/icon-user.svg" alt="">Admin<img class="left__iconDown" src="~/Content/admin/assets/arrow-down.svg" alt=""></div>
										<div class="left__text">
											<a class="left__link" href="/admin/admin/insertadmin">Thêm Admin</a>
											<a class="left__link" href="/admin/admin/viewadmin">Xem Danh Sách</a>
										</div>
									</li>
								}

							}
							<li class="left__menuItem">
								<a href="/admin/admin/logout" class="left__title"><img src="~/Content/admin/assets/icon-logout.svg" alt="">Đăng Xuất</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="right">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	<script src="~/Content/admin/js/main.js"></script>
</body>
</html>

