
@{
	ViewBag.Title = "Login";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Natural Medicine - Hệ thống quản trị</title>
	<link href="~/Content/admin/login/style.css" rel="stylesheet" />
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<h1>ĐĂNG NHẬP HỆ THỐNG</h1>

			<form class="form" method="post" action="/admin/admin/login">
				<input type="text" name="phone" placeholder="Số điện thoại" maxlength="10" required="required">
				<input type="password" name="password" placeholder="Mật khẩu" maxlength="20" required="required">
				<button type="submit" id="login-button">Đăng Nhập</button>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- partial -->
	<script src="~/Content/admin/login/script.js"></script>
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>

</body>
</html>
